Source: cliinstaller
Section: admin
Priority: extra
Maintainer: Nikolas Poniros <edhunter@sidux.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: https://noc.sidux.com/cli-installer

Package: cliinstaller
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, fll-installer (>= 0.2.1),
 sidux-scripts (>= 0.2.6),
 fll-live-initscripts (>= 2.0.64),
 psmisc,
 ssft,
 udev (>= 0.146),
 util-linux (>= 2.16.1)
Description: Cli installer for sidux
 A script to create the config file needed by
 fll-installer
