Source: cliinstaller
Section: admin
Priority: extra
Maintainer: Nikolas Poniros <edhunter@sidux.com>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 7.9.3)
Standards-Version: 3.9.1
Homepage: https://noc.sidux.com/cli-installer
Vcs-Svn: svn://svn.berlios.de/fullstory/cliinstaller/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/cliinstaller/trunk/

Package: cliinstaller
Architecture: all
Depends: ${shlibs:Depends},
 ${misc:Depends},
 fll-installer (>= 0.2.1),
 fll-installer-common (>= 0.8.10),
 sidux-scripts (>= 0.2.6),
 fll-live-initscripts (>= 2.0.64),
 psmisc,
 ssft,
 udev (>= 0.146),
 util-linux (>= 2.16.1)
Recommends: dialog
Description: Cli installer for sidux
 Minimal textmode GUI to create the config file needed by fll-installer
 for installing a sidux/ fullstory system to disk for use on X-less or
 GTK2-less systems.
 .
 The installer can be started through /usr/sbin/installer-cli.
 .
 This is a FULLSTORY live-only package and should not be installed to an
 ordinary system.
